<footer class="footer">
  <div class="content has-text-centered has-text-weight-bold pt-6 mt-5">
    <div class="columns is-mobile is-multiline is-centered is-vcentered">
      <div class="column is-8 columns is-mobile is-multiline is-centered is-vcentered mb-4">
          <p class="column is-3-desktop is-full-mobile py-1 btn">Ils nous ont fait confiance</h2>
      </div>
      <div class="column is-8-desktop is-11-mobile columns is-mobile is-multiline is-centered is-vcentered mb-4">
          <div class="column is-2-desktop is-one-third-mobile">
            <div class="image">
              <img src="{{ site.baseurl }}/assets/img/la-nef.png" alt="La Nef">
            </div>
          </div>
          <div class="column is-2-desktop is-one-third-mobile">
            <div class="image">
              <img src="{{ site.baseurl }}/assets/img/bordonor.jpg" alt="Bordonor">
            </div>
          </div>
          <div class="column is-one-fifth-desktop is-one-third-mobile">
            <div class="image">
              <img src="{{ site.baseurl }}/assets/img/alpha.jpg" alt="Grand Angoulême L'alpha">
            </div>
          </div>
          <div class="column is-one-fifth-desktop is-one-third-mobile">
            <div class="image">
              <img src="{{ site.baseurl }}/assets/img/chato-do.jpg" alt="Chato'do">
            </div>
          </div>
          <div class="column is-one-fifth-desktop is-one-third-mobile">
            <div class="image">
              <img src="{{ site.baseurl }}/assets/img/notre-dame-sevigne.png" alt="École et Collège Notre Dame Sevigné">
            </div>
          </div>
          <div class="column is-one-fifth-desktop is-one-third-mobile">
            <div class="image">
              <img src="{{ site.baseurl }}/assets/img/tempo.png" alt="Tempo Grandir en Musique">
            </div>
          </div>
          <div class="column is-one-fifth-desktop is-one-third-mobile">
            <div class="image">
              <img src="{{ site.baseurl }}/assets/img/centre-animation-bordeaux.svg" alt="Centre d'animation de Bordeaux">
            </div>
          </div>
      </div>
    </div>
  </div>
</footer>
