@font-face {
    font-family: aileron-regular;
    src: url(../../fonts/font/Aileron-Regular.otf);
}

body {
    font-family: aileron-regular;
    line-height: 1.9;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
    border: inherit solid 2px;
    display: inline-block;
    border-radius: 4rem;
    font-weight: normal;
    padding: 0.5rem 1.5rem;
}

h2 {
    font-size: 1.1rem;
    margin: 1.5rem 0;
    border: inherit solid 2px;
    display: inline-block;
    border-radius: 4rem;
    font-weight: normal;
    padding: 0.5rem 1.5rem;    
}

h3 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: #224d52 solid 2px;
    display: table;
    border-radius: 4rem;
    font-weight: 600;
    padding: 0.1rem 1.5rem;
}

.bg-blueduck,
#bg-blueduck {
    background-color: #224d52;
    color: #b6f5d1;
}

#bg-blueduck:hover {
    background-color: #224d52bf;
}

.bg-blueduck h1,
.bg-blueduck h2 {
    background-color: #b6f5d1;
    color: #224d52;
}

.bg-blueduck a:hover,
.bg-blueduck .navbar-item:hover {
    color: #b6f5d1bd !important; 
}

.bg-aquablue,
#bg-aquablue {
    color: #224d52 !important;
    background-color: #b6f5d1;
}

.bg-aquablue a.navbar-item:hover {
    color: #224d52c2 !important;
}

.bg-aquablue h1,
.bg-aquablue h2 {
    background-color: #224d52;
    color: #b6f5d1;
}

.bg-yellow, 
#bg-yellow {
    background-color: #f5faa0;
    color: #224d52;
}

#bg-yellow:hover {
    background-color: #f5faa0c4;
}

.bg-yellow h1,
.bg-yellow h2 {
    background-color: #224d52;
    color: #f5faa0;
}

.bg-orange,
#bg-orange {
    background-color: #fad7aa;
    color: #224d52;
}

#bg-orange:hover {
    background-color: #fad7aac4;
}

.bg-orange h1,
.bg-orange h2 {
    background-color: #224d52;
    color: #fad7aa;
}

.bg-azur,
#bg-azur {
    background-color: #ccf5fd;
    color: #224d52;
}

#bg-azur:hover{
    background-color: #ccf5fdcf;
}

.bg-azur h1,
.bg-azur h2 {
    background-color: #224d52;
    color: #ccf5fd;
}

#menu {
    display: none;
}

/* override Bulma navbar */
.navbar {
    background-color: inherit;
}

.navbar-burger {
    color: inherit;
}

.navbar-item, .navbar-link {
    color: inherit;
}

.navbar-end {
    font-size: 1.5rem;
}

.navbar-item img {
    max-height: 2.75rem;
}

a.navbar-item:hover {
    color: #224d52c2 !important;
}

strong {
    color: inherit;
}

.default a {
    display: inline-block;
    border: inherit solid 2px;
    border-radius: 4rem;
}

.inline-block {
    display: inline-block;
}

.home-page {
    background-color: unset !important;
    color: #224d52 !important;
}

footer {
    color: #224d52 !important;
    background-color: #fff !important;
}

.btn {
    border: solid 2px #224d52;
    border-radius: 4rem;
}